# Local .terraform directories
**/.terraform/*

#  Ignore variables files
*.auto.tfvars

#  Ignore override files
*.tfoverride

#  Ignore environment-specific files
.envrc

#  Ignore CLI configuration files
.terraformrc
terraform.rc

#  Ignore
terraform.tfstate*
.terraform.lock*
.terraform.tfstate.d/*

# Ignore vscode
**/.vscode/*
